@charset "utf-8";
/* CSS Document */

#menú{
 width: 100%;
  height: 15%;	
  position:absolute; 
  left: 0%;
  top: 0%;
  background-color:#000;
}


#fondo{
  width: 100%;
  height: 85%;	
  position:absolute; 
  left: 0%;
  top: 15%;
  background-color:#000;
}


#Rec_Transparente{
 width: 50%;
  height: 65%;	
  position:absolute; 
  left: 26%;
  top: 15%;
}

#Rec_Campos{
 width: 86%;
  height: 81%;	
  position:absolute; 
  left: 7%;
  top: 8%;

}

#Rec_Titulo{
 width: 100%;
  height: 35%;	
  position:absolute; 
  left: 0%;
  top: 0%;
}

#Rec_Btncamps{
 width: 100%;
  height: 65%;	
  position:absolute; 
  left: 0%;
  top: 35%;
}

#Btncamps{
 width: 100%;
  height: 100%;	
  position:absolute; 
  left: 0%;
  top: 0%;
}


#imagen1{
 width: 11%;
  height: 22%;	
  position:absolute; 
  left: 85%;
  top: 9%;
  background-color:#FFF;
}

#imagen2{
 width: 11%;
  height: 22%;	
  position:absolute; 
  left: 85%;
  top: 36%;
  background-color:#FFF;
}

.campo{
  width: 80%;
  height: 20%;	
  margin-left: 5%;
  position:absolute;
  
}

.camp{
  width: 91%;
  height: 20%;	
  margin-left:0%
  position:absolute;
  
  color:#FFF;
  background-color:#000;
}

